.opening {
    width: 100%;
    height: 100vh;
    background-color: #78C49F;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.opening-content {
	right: 15%;
	padding-top: 8%;
	left: 15%;
}
.quote {
	font-size: 3vw;
	font-family: "Galeforce BTN";
	color: #FFFFCF;
}
.quote-maker {
	font-size: 1.5vw;
	font-family: "Dosis";
	color: #FFF69E;
}
.testing {
	background-image: url('../img/testing.png');
	background-size: 100% 100%;	
	width:100px; /*width of your image*/
	height:100px; /*height of your image*/
	margin:0; /* If you want no margin */
	padding:0; /*if your want to padding */
	vertical-align: right;
}
.picture {
	text-align: right;
}
